.information{
	width:720px;
	margin: 20px 0px 0px 20px;
	/*background: url(../images/icon/underline.gif) repeat-x bottom left;*/
}


ul.inner-information{
	float: left;
	width: 170px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	position: relative;
	height: 290px;
}

.number{
	position: absolute;
	top:23px;
	left: 5px;
	color: #fff;
	background: #A0C01D;
	border-radius: 5px;
	padding: 2px;
	font-size: 1em;
}

div.outer-information{
	width: 180px;
	height: 300px;
	float:left;
}

div.outer-information:hover{
	/*border-radius: 10px;*/
	/*background: #FFE6FD;*/
	opacity: 0.6;
}

p.links{
	margin-bottom: 20px;
}

p.links_bottom{
	margin-left: 20px;
	margin-bottom: 40px;
}
p.links a , p.links_bottom a{
	text-decoration: none;
	font-size: 1em;
	padding: 2px 10px;
	border: 1px solid #888;
	color: #666;
	background: #dfdfdf;
}

span.current{
	text-decoration: none;
	font-size: 1em;
	padding: 2px 10px;
	border: 1px solid #888;
	color: #666;
	background: #fff;
	margin-left: 6px;
}
span.last_tag{
	margin-left: 6px;
}
