#wrapper{
	background: #fff;
	background: linear-gradient(#E8F7A8,#FFF);
}

#container-inner{
	background: #fff;
	border-radius: 15px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
	margin-top: 40px;
	padding-bottom: 20px;
}

/*************** 下部にメニューをくっつけるため角丸を適用しない ************/
#container-inner-square{
	position: relative;
	background: #fff;
	border-radius: 15px 15px 0 0;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
	margin-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.body{
	background: #fff;
	border-radius: 15px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
	margin-top: 40px;
	margin-bottom: 40px;
	/*padding-bottom :10px;*/
}

/*********** mypate-topの項目 **********************************/
h3{
	padding-left: 10px;
	margin-bottom: 20px;
}

/*********** 会員おしらせ一覧 ******************************/
ul.note{
	background: rgba(240,240,240,0.1);
	margin: 0;
	padding: 20px;
}

ul.note li{
	padding-bottom: 10px;
}

ul.note a{
	color: #777;
	display: block;
	padding-left: 20px;
	background: url(../images/icon/arrow_green.gif) no-repeat center left;
}

ul.note a:hover{
	color: #FFB9E4;
	display: block;
}


h3.information{
	background: #FAEAF0;
	font-size: 1em;
	font-weight: normal;
	padding: 10px 0px 10px 20px;
	margin: 0;
	border-left: solid 5px #FFB9E4;
}
div.info_content_area{
	padding: 20px;
}

/***********　order 日付指定等　***************************/
table.contact_form {
	text-align: left;
	margin: 10px 20px 20px 20px;
}

table.contact_form td{
	padding: 10px;
}
table.contact_form tr th{
	background: linear-gradient(#fff,#E8F7A8);
	padding: 5px 5px 5px 10px;
}

table.contact_form input, textarea, select{
	font-size: 1.1em;
	padding: 7px;
}
table.contact_form th.no-back{
	background: #fff;
}

/* 郵便番号検索ボタンが効かなくなる 
table.contact_form a{
	color: #777;
	display: block;
	padding-left: 20px;
	background: url(../images/play.png) no-repeat left center;
	width:40px;
}

table.contact_form a:hover{
	color: #bbb;
}
*/

table.contact_form table.order_info{
	border-collapse: collapse;
	border-spacing: 0;
	background: none;
}
table.contact_form table.order_info th{
	background: none;
}

table.contact_form table.order_info td{
	background: none;
}

.no-back{
	background: none;
}

table.contact_form ul li{
	padding-bottom: 20px;
}
/********** order list *********************************/
table.list{
	padding: 10px;
	border-collapse: collapse;
	margin-left: 20px;
}

table.list th,table.list td{
	border-bottom: 1px solid #aaa;
	padding: 10px;
}

table.list th{
	text-align: right;
	padding-right: 10px;
	font-weight: normal;
	color: #555;
}
table.list td.product{
	padding-left: 10px;
	width: 250px;
}
table.order_info th{
	text-align: left;
	border-bottom:1px solid #ddd;
}
table.order_info td{
	border-bottom: 1px solid #ddd;
}
table.list ul li{
	padding-bottom: 10px;
}

/********** 変更ボタン **************************************/
table#menu{
	height: 50px;
	width: 1024px;
	background: #FAEAF0;
	position: absolute;
	bottom: -50px;
	border-radius: 0 0 15px 15px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
	padding-left: 40px;
	height: 50px;
}

a.edit_menu{
	text-decoration: none;
	font-size: 1.0em;
	padding: 2px 10px;
	border: 1px solid #888;
	color: #888;
	border-radius: 3px;
	background: linear-gradient(#fff,#dfdfdf);
}

table#menu ul li{
	width: 482px;
	float: left;
}

#menu input#submit{
	padding: 5px 15px;
	color: #888;
	font-size: 1.2em;
}


/*
.content h2{
	background: linear-gradient(#fff,#E8F7A8);
	border-radius: 15px 15px 0 0;
	font-size: 1.5em;
	padding: 10px 0px 10px 20px;
	margin: 0;
}

a.form_back{
	text-decoration: none;
	font-size: 1.2em;
	padding: 2px 10px;
	border: 1px solid #888;
	color: #888;
	border-radius: 3px;
	background: linear-gradient(#fff,#dfdfdf);
	margin-left: 40px;
}
a.edit{
	text-decoration: none;
	font-size: 1.0em;
	padding: 2px 10px;
	border: 1px solid #888;
	color: #888;
	border-radius: 3px;
	background: linear-gradient(#fff,#dfdfdf);

}

.message_area{
	padding: 20px 0 0 20px;
}
p.error{
	color: #E93D14;
}
.content p.note{
	background: #FAEAF0;
	margin: 0;
	padding: 20px;
}

.content-inner{
	padding: 20px;
}


*/

#mypage_information{
	padding: 10px;
	min-height: 100px;
}

#mypage_information ul{
	margin: 20px;
}

#mypage_information li{
	margin-bottom: 10px;
}

#mypage_information a{
	color: #666;
	display: block;
	padding-left: 20px;
	background: url(../images/icon/arrow_green.gif) no-repeat center left;	
}

#mypage_point p{
	vertical-align: middle;
	text-align: center;
}

#mypage_point p span{
	color: orange;
	font-size: 40px;
}


.mypage{
	width: 500px;
	float:left;
	padding-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	min-height: 300px;
}

.mypage a{
	text-decoration: none;
	color: #666;
}

.mypage ul{
	margin-left: 20px;
}

.mypage ul li{
	margin-bottom: 10px;
	padding-left: 20px;
	background: url(../images/icon/arrow_green.gif) no-repeat center left;
}

.left{
	border-right: 1px solid #ccc;
}

.right{
	border-left: 1px solid #ccc;
}

.info{
	width: 1024px;
	float: left;
}
.point{
	width: 300px;
	float: right;
	height: 150px;
}

