@charset "utf-8";



body {}

body, p, table, td
{
    font:normal 11px/140% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Mayryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    color:#000000;
}

input, textarea
{
    font:normal 11px/140% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Mayryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

h1
{
    font:normal normal bold 18px/140% "Trebuchet MS", Verdana, sans-serif;
    color:#724C00;
    
}

h2
{
    font:normal normal normal 16px/140% "Trebuchet MS", Verdana, sans-serif;
    color:#333333;
    
}

h3
{
    font:normal normal bold 14px/140% "Trebuchet MS", Verdana, sans-serif;
    color:#333333;
    
}

a:link,
a:visited
{
    text-decoration: underline; /* fix */
    color:#ACD019;
}

a:active,
a:hover
{
    text-decoration:none; /* fix */
    color: #ACD019;
}

div.hr
{
    border-bottom-style:dotted;
    border-bottom-width:1px; /* fix */
    border-color: #CCCCCC;
    height: 1px;
}